@import "color";
@import 'https://fonts.googleapis.com/css?family=Libre+Franklin:100,400,700';
html,
body {
    padding: 0;
    margin: 0;
    background-color: $yellow;
    color: $black;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-shadow: 0 -1px 1px rgba($cream, 0.6);
    header,
    footer {
        flex: 0 0 auto;
    }
    .container {
        flex: 1 0 100%;
        padding: 0;
    }
}

a {
    text-decoration: none;
    color: $black;
}

h3 {
    font-size: 1.4em;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: .7em;
}

.search {
    box-shadow: 0 2px 0 rgba($black, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .search-input {
        width: calc(100% - 2em);
        font-size: 1.2em;
        padding: 1em;
        outline: 0px;
        border: 0;
        background-color: rgba($cream, 0.99);
        z-index: 100;
        text-align: center;
    }
    &:after {}
    &:hover,
    &:focus,
    &:active {
        background-color: rgba($cream, 1);
    }
}

ul {
    list-style: none;
    margin: 5em 0 0 0;
    padding: 0;
    li {
        padding-bottom: 1em;
        box-shadow: 0 2px 0 rgba($cream, 0.4);
        width: 100%;
    }
}

.container {
    max-width: 80ch;
    margin: 0 auto;
    width: calc(100% - 1em);
}

footer {
    margin-top: 1em;
    box-shadow: 0 -3px 0 rgba($cream, 0.4);
    background-color: rgba($cream, 0.3);
    a {
        border-bottom: 1px dotted $cream;
        &:hover {
            border-bottom: 1px solid $cream;
        }
    }
}
