@import "color";
@import url( 'https://fonts.googleapis.com/css?family=Bungee+Inline|Roboto+Mono:300,700');

body,
html {
    padding: 0;
    margin: 0;
    background-color: $yellow;
    color: $black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-shadow: 0 -1px 1px rgba($cream, 0.6);
    footer,
    header {
        flex: 0 0 auto;
    }
    .container {
        flex: 1 0 100%;
        padding: 0;
    }
}

a {
    text-decoration: none;
    color: $black;
}
strong {
    font-weight: 700;
}

p {
    margin-top: 0;
    margin-bottom: .5em;
}
h3 {
    font-size: 1.4em;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: .7em;
    margin-top: 0;
    font-family: "Bungee Inline", sans-serif;
}

.search {
    box-shadow: 0 2px 0 rgba($black, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $cream;
    .search-input {
        width: calc(100% - 2em);
        font-size: 1.2em;
        padding: 1em;
        outline: 0;
        border: 0;
        border-radius: 0;
        background-color: $cream;
        z-index: 100;
        top: 0;

    }
    &:active,
    &:focus,
    &:hover {
        background-color: $cream;
    }
}

ul {
    list-style: none;
    margin: 6em 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-row: 1fr;
    grid-gap: 5vmin;
    @media screen and (min-width: 560px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 720px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (min-width: 960px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    li {
        padding-bottom: 0;
        box-shadow: 0 2px 0 rgba($cream, 0.4);
        width: 100%;
    }
}

.container {
    max-width: calc(100vw - 3em);
    margin: 0 auto;
}

footer {
    padding: 2em;
    margin-top: 2em;
    font-size: .8em;
    box-shadow: 0 -3px 0 rgba($cream, 0.4);
    background-color: rgba($cream, 0.3);
    a {
        border-bottom: 1px dotted $cream;
        &:hover {
            border-bottom: 1px solid $cream;
        }
    }
}
